@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* *{
    font-family: 'Poppins', sans-serif;
} */
table,
th,
td {
    border: 2px solid black;
    background-color: #ffffff;
    font-family: 'Prompt', sans-serif;
}

table {
    margin: auto;
}

#title {
    background-color: rgb(115, 248, 155);
    color: #fff;
}

.navbar-brand {
    font-family: 'Noto Sans Thai', sans-serif !important;
    font-size: 2.5rem;
    font-weight: bold;

}

body {
    text-align: center;
    background-color: #ffffff;
    font-family: 'Mitr', sans-serif;
}

table {
    background-color: #58ff76;
}

.navbar {
    /* background-color: #60ff6b; */
    font-family: 'Mitr', sans-serif;
    text-align: center;
}
.head {
    margin-left: 35%;
    min-height: 4rem;
    background-color: #58ff76;
    width: 30%;
    border-radius: 15px;
    box-shadow: 2px 5px 2px;
    font-size: 100px; 
   
    }
.h1{
    color : rgb(9, 7, 7);
    font-family: 'Mitr', sans-serif;
    text-align: center;
    font-size: 70px; 
}

